<div class="col-md-4">
  <div class="profile-card">
    <div class="row">
      <div class="col-md-6">
        <h4 class="pull-left">Role</h4>
      </div>
      <div class="col-md-6">
        <button class="round-button pull-right" role="button"><span class="glyphicon glyphicon-pencil"></span></button></br>
      </div>
    </div>
  
  </div>
</div>
