<div class="modal-header">
  <div class="modal-close"><%= render 'shared/modal_close' %></div>
  <h4 class="modal-title">Header</h4>
</div>
<%= form_for @profile do |f| %>
<div class="modal-body">
  <div class="upload-preview">
    <img src=""/>
  </div>
  <%= f.file_field :image, {id: 'upload-profile-picture', class: 'file'} %>
</div>
<div class="modal-footer">
  <%= f.submit 'Upload Profile Picture'%>
</div>
<% end %>
