<div class="modal-header">
  <div class="modal-close"><%= render 'shared/modal_close' %></div>
  <h4 class="modal-title">Header</h4>
</div>
<div class="modal-body">
  <div class="upload-preview">
    <img src=""/>
  </div>
  <input type="file" class="file" id="upload-profile-picture" />
</div>
<div class="modal-footer">
  <button>Upload Profile Picture</button>
</div>
