<h3>Edit Your Profile</h3>

<div class="profile-image">
    <%= image_tag current_member.profile.image, size: "200x200" %></br>
    <%= link_to 'Add a Profile Picture', edit_profile_path(current_member), class: 'modal-trigger', 'data-toggle' => "modal", 'data-target' => "#myModal", method: 'get', remote: true %></br>
    <%= link_to "Delete Your Profile Picture", profile_remove_image_path(current_member.profile.id), data: { confirm: "You sure?" } %>
    <%#= image_tag 'mystery-man.png', size: "200x200" %>
</div>
