<h3>Tell us a little about yourself.</h3>
<p>Information you add here will be visible to logged in crashpad  members (both hosts, and guests). </p>

<%= simple_form_for(:profile, url: profiles_path, remote: true, html: {id: 'new_profile'}) do |f| %>
  <%= render partial: 'profiles/form', locals: {f: f} %>
  <%= f.submit "Finish", class: "btn btn-primary pull-right" %>
<% end %>
