<h3>Will you be a host or a guest?</h3>
<p>Please choose one role for now. You can add another later if you want to be both a host and a guest.</p>

<h3 class="guest-link"><%= link_to "Guest", new_guest_role_path, id: "guest-only", class: "btn btn-primary", remote: true%></h3>
<h3 class="host-link"><%= link_to "Host", new_host_role_path, id: "host-only", class: "btn btn-primary", remote: true %></h3>
<div id="role-form"></div>
