<div class="row footer">
  <div class="col-md-12">
    <footer>
        <div class="col-md-4">
          <ul>
            <li>©Kat Landreth <%= Time.now.strftime('%Y') %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li><a href="#">katlandreth.com</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>(555) 555-5555</li>
            <li><a href="http://www.freepik.com/free-vector/hand-painted-green-leaves-pack_832587.htm">Some illustrations by Freepik</a></li>
          </ul>
        </div>
    </footer>
  </div>
</div>
