<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <span class="logo-small">crashpad</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= display_member_nav %>
    </li>
    <li>
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :button, flash_button(name), :class => "flash_button flash_#{name}" %>
        <% end %>
      <% end %>
    </li>
  </ul>
  </div>
</div>
