// Place all the styles related to the member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  overflow: auto;
}

a.navbar-brand {
  padding: 5px;
}

.navbar-brand {
  height: 75px;
  position: relative;
  span{
    vertical-align: bottom;
    color: #2B99FF;
  }
}

.shape {
  height: 50px;
  width: 44px;
  border-top: 3.5px solid #000;
  -moz-transform: rotate(17deg);
  -webkit-transform: rotate(17deg);
  transform: rotate(17deg);
  position:absolute;
  top:13px;
  right:51px;
}

.flash_success,
.flash_error,
.flash_notice,
.flash-open {
    position: fixed;
    top: 30px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -200px);
    text-align: center;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 20px;
    font-family: "Montserrat";
    text-transform: capitalize;
    animation: fade 4s ease;
}

.flash_success,
.flash_notice {
  color: rgb(65, 161, 240);
  border: 3px solid rgb(65, 161, 240);
  &:before {
    content: '✔';
    font-size: 25px;
    padding:10px;
  }
}

.flash_error {
  color: rgb(139, 24, 32);
  border: 3px solid rgb(139, 24, 32);
  &:before {
    content: '⦻';
    font-size: 25px;
    padding:10px;
  }
}

@keyframes fade {
0%,100% {
  transform: translate(-50%, -200px);
 }
10%,90% {
  transform: translate(-50%, 0);
  }
}



h3.guest-link,
h3.host-link {
  display:inline-block;
  margin:20px;
  text-align:center;
}
