<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <%#= image_tag('logo.png',size: "45") %>
      <!-- <div class="shape"></div> -->
      <span class="logo-small">crashpad</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <% if member_signed_in? %>
       <%= link_to('Logout', destroy_member_session_path, :method => :delete) %>
      <% end %>
    </li>
    <li>
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :button, flash_button(name), :class => "flash_button flash_#{name}" %>
        <% end %>
      <% end %>
    </li>
  </ul>
  </div>
</div>
