<h2>Your Membership info.</h2>
Thanks for signing up! You can edit your info or add a <%= host_or_guest(current_member) %> account to your membership here on your profile page.
<%= controller.controller_name%>

<div class="membership-status"><%#= membership-status-message(@member) %></div>

<div class="profile-image">
  <%= image_tag("mystery-man.png", size: "200x200") %>
</div>

<!-- <button class="modal-trigger">Add a Profile Picture</button> -->
<%= link_to 'Add a Profile Picture', edit_profile_path(current_member), class: 'modal-trigger', 'data-toggle' => "modal", 'data-target' => "#myModal", method: 'get', remote: true %>
